<ul class="pagination">
    <li class="page-item">
        <span class="page-link" *ngIf="paginador.number == 0">&laquo;</span>
        <a class="page-link" [routerLink]="['/productos/admon/page', paginador.number-1]" *ngIf="paginador.number > 0">&laquo;</a>
    </li>

    <li class="page-item" *ngFor="let pagina of paginas">
        <span class="page-link bg-primary text-white" *ngIf="pagina-1 == paginador.number">{{pagina}}</span>
        <a class="page-link" *ngIf="pagina-1 != paginador.number" [routerLink]="['/productos/admon/page', pagina-1]">{{pagina}}</a>
    </li>

    <li class="page-item">
        <span class="page-link" *ngIf="paginador.number == paginador.totalPages-1">&raquo;</span>
        <a class="page-link" [routerLink]="['/productos/admon/page', paginador.number+1]" *ngIf="paginador.number < paginador.totalPages-1">&raquo;</a>    
    </li>
</ul>
