<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pokercel <i class="bi bi-suit-club-fill"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/productos']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >Inicio</a>
          </li>
          <li *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')" class="nav-item" >
            <a class="nav-link" aria-current="page" [routerLink]="['/productos/admon/page/0']" routerLinkActive="router-link-active" >Productos admon</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2 bg-dark text-white" type="text" placeholder="Buscar telefono" aria-label="Buscar telefono" [(ngModel)]="term" name="term">
          <button class="btn btn-outline-success" (click)="buscar()" routerLinkActive="router-link-active" >Buscar</button>
        </form>
        <ul class="navbar-nav navbar-right">
          <li *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_USER')">
            <a [routerLink]="['/carrito']" class="text-white" style="font-size: 30px;">
              <i class="bi bi-cart3"></i> carrito
            </a>
          </li>
          <li *ngIf="!authService.isAuthenticated()" class="mt-1">
            <a class="btn btn-outline-primary" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="authService.isAuthenticated()" class="">
            <button class="btn btn-outline-primary" (click)=logout()>Salir</button>  
          </li>
        </ul>
      </div>
    </div>
  </nav>

