<div class="container">
    <div class="card text-dark bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">Productos disponibles</h5>
            <div class="my-2 text-left">
                <button class="btn btn-rounded btn-primary" [routerLink]="['/productos/form']" routerLinkActive="router-link-active" >Nuevo producto</button>
            </div>
            <!-- <div class="my-2 text-left">
                <button class="btn btn-rounded btn-primary" [routerLink]="['productos/admon/page/', 1]" routerLinkActive="router-link-active" >Siguiente pagina</button>
            </div> -->
            <table class="table table-bordered table-sriped" *ngIf="productos?.length>0">
                
                <thead>
                    <tr>
                        <th></th>
                        <th>Cantidad</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                        <th>Marca</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let p of productos">
                        <th *ngIf="!p.foto">
                            <img src="../../assets/s1.png" class="figure-img img-fluid rounded ps-5" [routerLink]="['/producto/vista', p.id]"
                            style="width: 120px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        </th>
                        <th *ngIf="p?.foto">
                            <img src="http://localhost:8080/api/uploads/img/{{p.foto}}" 
                            class="figure-img img-fluid rounded ps-5" [routerLink]="['/producto/vista', p.id]"
                            style="width: 120px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        </th>
                        <th>{{p.cantidad}}</th>
                        <th>{{p.nombre}}</th>
                        <th>${{p.precio}}</th>
                        <th>{{p.descripcion}}</th>
                        <th>{{p.marca.nombre}}</th>
                        <td>
                            <button type="button" name="button" [routerLink]="['/productos/form', p.id]" class="btn btn-primary">Editar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="delete(p)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="productos?.length < 1" class="alert alert-info">
                no hay registros
            </div>
            <paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>
        </div>
      </div>
</div>


