<div class="container mt-5 px-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card p-3">
        <h6 class="text-uppercase">Detalles del pago</h6>
        <div class="row">
          <div class="col-md-6">
            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <i
                class="fa fa-credit-card"></i> <span>Numero de tarjeta</span> </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-row">
              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required">
                <span>Expiracion</span> </div>
              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required">
                <span>CVV</span> </div>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-4">
          <h6 class="text-uppercase">Direccion:</h6>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="inputbox mt-3 mr-2"> <input type="number" name="cp" class="form-control" required="required"
                  [(ngModel)]="cp"> <span>Codigo postal</span> </div>
            </div>
            <div class="col-6">
              <button class="mt-4" (click)="buscarCp()">Buscar Codigo-Postal</button>
            </div>
          </div>
          <div class="row mt-2" *ngIf="asentamiento[0].response.municipio != undefined">
            <div class="col-md-4">
              <div class="inputbox mt-1 mr-2">
                <label for="">
                  Colonia
                </label>
                <select class="form-select" [(ngModel)]="colonia">
                  <option [ngValue]="undefined" selected>Seleccione su colonia</option>
                  <option *ngFor="let a of asentamiento" [ngValue]="a.response.asentamiento">{{a.response.asentamiento}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="inputbox mt-1 mr-2">
                <label for="">Municipio</label>
                 <input type="text" name="asentamiento" class="form-control" disabled value="{{asentamiento[0].response.municipio}}">
              </div>
            </div>
            <div class="col-md-4">
              <div class="inputbox mt-1 mr-2"> 
                <label for="">Estado</label>
                <input type="text" name="asentamiento" class="form-control" disabled value="{{asentamiento[0].response.estado}}">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="asentamiento[0].response.municipio != undefined">
            <div class="col-md-4">
              <label for="">Numero de casa</label>
              <input type="text" name="numeroCasa" class="form-control" [(ngModel)]="numeroCasa" required>
            </div>
            <div class="col-md-8">
              <label for="">Calle</label>
              <input type="text" name="calle" class="form-control" [(ngModel)]="calle" required>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4 d-flex justify-content-between"> <span>
          <i class="bi bi-suit-club-fill" style="color: green;"></i><i class="bi bi-suit-diamond-fill"
            style="color: #ff00ff;"></i>
          <i class="bi bi-suit-heart-fill" style="color: #ff0000;"></i><i class="bi bi-suit-spade-fill"
            style="color: white;"></i>
        </span> 
        <button *ngIf="asentamiento[0].response.municipio == undefined || colonia == undefined || numeroCasa == undefined  || calle == undefined" 
        (click)="comprar()" class="btn btn-outline-info" disabled>Total: ${{carrito.totalCarrito}}</button>
        <button *ngIf="asentamiento[0].response.municipio != undefined && colonia != undefined && numeroCasa != undefined  && calle != undefined" 
        (click)="comprar()" class="btn btn-outline-info">Total: ${{carrito.totalCarrito}}</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-blue p-3 text-white mb-3"> <span>El total a pagar es:</span>
        <div class="d-flex flex-row align-items-end mb-3">
          <h1 class="mb-0 yellow">${{carrito.totalCarrito}}</h1> <span>.00</span>
        </div>

        <div class="hightlight">
          <ul style="list-style: none;" class="mt-2">
            <li class="mt-2">
              <i class="bi bi-shop"></i> 12 meses de garantia
            </li>
            <li class="mt-2">
              <i class="bi bi-phone"></i> Recibe el producto que esperabas o te devolvemos tu dinero
            </li>
            <li class="mt-2">
              <i class="bi bi-calendar3"></i> Tienes 30 días desde que te llega.
            </li>
            <li class="mt-2">
              <i class="bi bi-box-seam"></i> Para devolverlo, el producto debe estar tal cual lo recibiste.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
