<div class="container mt-4">
    <div *ngFor="let p of productos" class="row mx-auto py-2 border rounded-3">
        <div class="col-2">
            <div *ngIf="!p.foto">
                <img src="../../assets/s1.png" class="figure-img img-fluid rounded ps-5" [routerLink]="['/producto/vista', p.id]"
                style="width: 120px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            </div>
            <div *ngIf="p?.foto">
                <img src="http://localhost:8080/api/uploads/img/{{p.foto}}" 
                class="figure-img img-fluid rounded ps-5" [routerLink]="['/producto/vista', p.id]"
                style="width: 120px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            </div>
        </div>
        <div class="col-4">
            <p class="h2">{{p.nombre}}</p>
            LLevatelo por tan solo <b class="text-primary">${{p.precio}}</b> <br>
            <span class="text-info"> 12 x {{p.meses}} sin intereses</span> <br>
            <span style="color: lime;">Envio gratis <i class="bi bi-lightning-fill"></i></span>
        </div>
        <div class="col-4 my-auto">
            {{p.descripcion}}
        </div>
    </div>
</div>





