<div class="container mt-3" *ngFor="let compra of compras">
    <p>
        <a class="btn btn-outline-dark text-white" data-bs-toggle="collapse" href="#collapseExample{{compra.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
          Compra hecha el: {{compra.fecha}}
        </a>
    </p>
      <div class="collapse" id="collapseExample{{compra.id}}">
        <div class="bg-secondary text-white card card-body border border-info border-2">
          <h3>
              Total: {{compra.totalCompra}}
          </h3>
          <div class="col-6">
            <div *ngIf="compra.enviado == 0">
                Estatus: <b>En proceso</b> <br>
                <a class="btn btn-primary" (click)="enviar(compra.id,1)">Enviar</a>
            </div>
            <div *ngIf="compra.enviado == 1">
                Estatus: <b>Enviado</b><br>
                <a class="btn btn-info" (click)="enviar(compra.id,2)">Entregado</a>
            </div>
            <div *ngIf="compra.enviado == 2">
                Estatus: <b>Entregado</b><br>
                <a class="disabled btn btn-danger">Entregado</a>
            </div>
          </div>
          <div>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Numero de telefono o correo electronico</th>
                    </tr>
                </thead>
                
                <tbody *ngFor="let item of compra.items">
                    <tr>
                        <th *ngIf="!item.producto.foto">
                            <img src="../../assets/s1.png" class="figure-img img-fluid rounded ps-5"
                            style="width: 120px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        </th>
                        <th>{{compra.usuario.nombre}} {{compra.usuario.apellido}}</th>
                        <th>{{compra.usuario.direccion}}</th>
                        <th>{{compra.usuario.email}}</th>
                    </tr>
                </tbody>
            </table>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>cantidad</th>
                        <th>nombre</th>
                        <th>precio</th>
                        <th>descripcion</th>
                        <th>marca</th>
                    </tr>
                </thead>
                
                <tbody *ngFor="let item of compra.items">
                    <tr>
                        <th *ngIf="!item.producto.foto">
                            <img src="../../assets/s1.png" class="figure-img img-fluid rounded ps-5"
                            style="width: 120px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        </th>
                        <th *ngIf="item.producto?.foto">
                            <img src="http://localhost:8080/api/uploads/img/{{item.producto.foto}}" 
                            class="figure-img img-fluid rounded ps-5"
                            style="width: 120px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        </th>
                        <th>{{item.cantidad}}</th>
                        <th>{{item.producto.nombre}}</th>
                        <th>${{item.producto.precio}}</th>
                        <th>{{item.producto.descripcion}}</th>
                        <th>{{item.producto.marca.nombre}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
      </div>
</div>
